#Minispiel_keller {
  background-color: rgb(186, 213, 226);
  position: relative;
  width: 1400px;
  height: 700px;
  overflow: hidden; /* Ensures no scrollbars appear */
  font-family: Feijoada;
  display: none;
}

body {
  cursor: block; /*Hide the default cursor */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

#keller_cursor-image {
  position: absolute;
  pointer-events: none; /* Make sure the image doesn't interfere with mouse events */
  display: none; /* Initially hide the image */
  width: 2800px; /* Set a fixed width for the cursor image */
  height: 2800px;
  margin-left: -1400px;
  margin-top: -1400px;
  z-index: 90;
}
#keller_hintergrund {
  height: 700px;
  position: absolute;
  z-index: 1;
}

#keller_Ueberschrift {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  z-index: 100;
  color: white;
  background-color: rgb(200, 109, 136);
  width: 400px;
  margin-left: -200px;
  border-radius: 15px;
  top: 10px;
}

.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.keller_h1 {
  padding: 0px;
  margin: 5px;
}

.object {
  position: absolute;
  left: 20px;
  z-index: 3;
  width: 200px;
}

#keller_Frage {
  z-index: 100;
  color: black;
  background-color: rgb(240, 156, 181);
  padding: 20px;
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -170px;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  top: 87%;
}

#keller_feedback {
  z-index: 100;
  position: absolute;
  left: 50%;
  color: white;
  background: black;
  padding: 10px;
  border-radius: 10px;
  display: none;
}

#keller_konfetti,
#keller_konfetti2,
#keller_konfetti3,
#keller_konfetti4 {
  display: none;
  margin: auto;
  position: absolute;
  width: 100%;
  animation: scrollDown 10s linear infinite;
  z-index: 3;
}

#keller_konfetti3,
#keller_konfetti4 {
  animation: scrollDown 15s linear infinite;
  transform: rotateY(180deg);
}

#keller_konfetti2 {
  top: -860.133px;
  animation-delay: 5s;
}

#keller_konfetti4 {
  top: -860.133px;
  animation-delay: 7.5s;
}

@keyframes scrollDown {
  0% {
    top: -860.133px;
  }
  100% {
    top: 700px;
  }
}
@keyframes keller_feedback {
  0% {
    opacity: 0%;
    margin-top: 100px;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    margin-top: -100px;
  }
}
#nochmal_keller {
  display: none;
  text-align: center;
  font-size: 33px;
  display: none;
  font-family: Feijoada;
  color: white;
  padding: 2px;
  padding-top: 11px;
  z-index: 150;
  position: absolute;
  top: 620px;
  left: 627px;
  height: 51px;
  width: 164px;
  border-radius: 15%;
  background-color: rgb(200, 109, 136);
  border-style: none;
  cursor: pointer;
}

#nochmal_keller:hover {
  background-color: #d498bc;
  color: rgb(0, 0, 0);
  transition-duration: 0.4s;
}

#nochmalpfeil {
  height: 1em;
  padding-right: 10px;
}
#keller_Punkteanzeige {
  margin-left: 10px;
}
/* ---------------- Objekte ---------------- */

#keller_lamp {
  left: 49%;
  top: 31.5%;
}

#keller_lamp img {
  height: 116px;
}

#keller_radio {
  left: 61%;
  top: 35%;
  z-index: 4;
}

#keller_radio img {
  height: 85px;
}

#keller_speaker {
  left: 55%;
  top: 33%;
}

#keller_speaker img {
  height: 104px;
}

#keller_games {
  left: 59.8%;
  top: 37%;
  z-index: 2;
}

#keller_games img {
  height: 150px;
}

#keller_ball {
  left: 67%;
  top: 69%;
}
#keller_ball img {
  height: 65px;
}

#keller_glasses {
  left: 12%;
  top: 77%;
}

#keller_glasses img {
  width: 223px;
}

#keller_poster {
  left: 34%;
  top: 19%;
  z-index: 1;
}

#keller_poster img {
  height: 225px;
}

#keller_jars {
  left: 47%;
  top: 52%;
}
#keller_jars img {
  height: 56px;
}
#keller_plates {
  left: 70%;
  top: 63%;
  position: absolute;
  z-index: 3;
}
#keller_plates img {
  width: 200px;
}
#keller_dartboard {
  left: 84%;
  top: 20%;
}
#keller_dartboard img {
  height: 200px;
}

#keller_forksandknives {
  left: 61.3%;
  top: 59%;
}

#keller_forksandknives img {
  height: 60px;
}

#keller_stringlights {
  left: 10%;
  top: -2%;
}

#keller_stringlights img {
  height: 300px;
}

#keller_candles {
  left: 50%;
  top: 14%;
}
#keller_candles img {
  height: 35px;
}

#keller_paint {
  left: 71%;
  top: 46%;
  position: absolute;
  z-index: 3;
}
#keller_paint img {
  height: 119px;
}

#keller_microphones {
  left: 62%;
  top: 22%;
  position: absolute;
}

#keller_microphones img {
  height: 24px;
}

#keller_fan {
  left: 22%;
  top: 32%;
}

#keller_fan img {
  height: 210px;
}

#keller_toiletpaper {
  left: 61%;
  top: 70%;
}

#keller_toiletpaper img {
  height: 48px;
}

#keller_soda {
  left: 71%;
  top: 27.3%;
  z-index: 4;
}
#keller_soda img {
  height: 60px;
}
#keller_regal0 {
  left: 77.1%;
  top: 1%;
  position: absolute;
  z-index: 4;
}
#keller_regal0 img {
  height: 683px;
}
#keller_regal1 {
  left: 68%;
  top: 4%;
  position: absolute;
  z-index: 3;
}
#keller_regal1 img {
  height: 660px;
}
#keller_regal2 {
  left: 47%;
  top: 10%;
  position: absolute;
  z-index: 2;
}
#keller_regal2 img {
  height: 500px;
}
#keller_regal3 img {
  height: 440px;
}
#keller_regal3 {
  left: 59.5%;
  top: 18%;
  position: absolute;
  z-index: 1;
}
#keller_discoball {
  top: -2%;
  left: 5%;
}
#keller_discoball img {
  height: 290px;
}
#keller_chips {
  left: 60%;
  top: 9%;
  z-index: 1;
}
#keller_chips img {
  height: 70px;
}
.non-clickable {
  pointer-events: none;
}

#keller_timer {
  z-index: 91;
  color: #d498bc;
  position: absolute;
  left: 71%;
  top: 3%;
  font-size: 40px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

#keller_timerende {
  z-index: 91;
  color: #d498bc;
  position: absolute;
  left: 30%;
  top: 40%;
  font-size: 70px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  display: none;
}

#keller_winning,
#keller_losing {
  position: absolute;
  width: 1400px;
  top: 0%;
  display: none;
}

#keller_spinne {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 300px;
  animation: spinne_movement 5s linear infinite;
  display: none;
}

@keyframes spinne_movement {
  0% {
    top: -10%;
  }
  50% {
    top: 0%;
  }
  100% {
    top: -10%;
  }
}

#keller_timer_display {
  background-color: #d32986;
  width: 200px;
  height: 50px;
  display: flex;
  z-index: 91;
  position: absolute;
  top: 4%;
  left: 83%;
  border-radius: 5px;
}
#keller_timer_display2 {
  background-color: white;
  width: 80px;
  border-radius: 5px;
}

@keyframes countdown_bounce {
  0% {
    font-size: 40px;
  }
  50% {
    font-size: 50px;
  }
  100% {
    font-size: 40px;
  }
}
